button {
    background-color: #2b2b2b;
    cursor: pointer;
    font-weight: 500;
    color: #f1f1f1;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    text-decoration: none;
}

form {
    button {
        width: 500px;
        height: 40px;
    }
}